<style>
    .table tbody tr:hover {
        cursor: pointer;
    }
</style>

{% extends 'base.html' %}

{% block title_name %}Личный кабинет{% endblock %}

{% block content %}
    <div class="container mt-5">

        <div class="row">
            <div class="col-md-4">
                <div class="employee-card mb-5 ml-0">
                    <h5>{{ employee.position.title }}</h5>
                    <p>{{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name }}</p>
                    <div class="contact-info">
                        <i class="fas fa-envelope"></i>
                        <span>{{ employee.email }}</span>
                    </div>
                    <div class="contact-info">
                        <i class="fas fa-phone"></i>
                        <span>{{ employee.phone_number }}</span>
                    </div>
                </div>
            </div>
        </div>

        {% if user.is_authenticated and employee %}
            {% if employee.position.title != "Дизайнер" %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center mb-3">
                            <h3 class="mb-0">Назначенные вами задачи</h3>
                            <button class="btn btn-outline-dark ml-3" data-toggle="modal" data-target="#addTaskModal">
                                Назначить задачу
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 10%;">Название</th>
                                    <th style="width: 30%;">Описание</th>
                                    <th style="width: 10%;">Сроки выполнения</th>
                                    <th style="width: 10%;">Исполнитель</th>
                                    <th style="width: 10%;">Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in tasks %}
                                    <tr onclick="showTaskDetails('{{ task.title }}', '{{ task.description|escapejs }}', '{{ task.deadline }}', '{% if task.assignee %}{{ task.assignee.last_name }} {{ task.assignee.first_name }}{% else %}Не назначен{% endif %}', '{{ task.status.title }}')">
                                        <td>{{ task.title }}</td>
                                        <td>{{ task.description|truncatewords:10 }}</td>
                                        <td>{{ task.deadline }}</td>
                                        <td>
                                            {% if task.assignee %}
                                                {{ task.assignee.last_name }} {{ task.assignee.first_name }}
                                            {% else %}
                                                Не назначен
                                            {% endif %}
                                        </td>
                                        <td>{{ task.status.title }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated and employee %}
            {% if employee.position.title != "Администратор" %}
                <div class="row mt-3">
                    <div class="col-md-12">
                        <h3>Мои задачи</h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 10%;">Название</th>
                                    <th style="width: 30%;">Описание</th>
                                    <th style="width: 10%;">Сроки выполнения</th>
                                    <th style="width: 10%;">Исполнитель</th>
                                    <th style="width: 10%;">Статус</th>
                                    <th style="width: 10%; text-align: center">Завершить</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for my_task in my_tasks %}
                                    <tr>
                                        <td>{{ my_task.title }}</td>
                                        <td>{{ my_task.description|truncatewords:10 }}</td>
                                        <td>{{ my_task.deadline }}</td>
                                        <td>
                                            {% if my_task.assignee %}
                                                {{ my_task.assignee.last_name }} {{ my_task.assignee.first_name }}
                                            {% else %}
                                                Не назначен
                                            {% endif %}
                                        </td>
                                        <td>{{ my_task.status.title }}</td>
                                        <td style="text-align: center">
                                            <a type="button" data-toggle="modal"
                                               data-target="#completeModal{{ my_task.pk }}">
                                                <i class="fas fa-check" style="color: black"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <!-- Modal -->
                                    <div class="modal fade" id="completeModal{{ my_task.pk }}" tabindex="-1"
                                         role="dialog" aria-labelledby="completeModalLabel{{ my_task.pk }}"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="completeModalLabel{{ my_task.pk }}">
                                                        Завершить задачу</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы уверены, что хотите завершить эту задачу?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Отмена
                                                    </button>
                                                    <form method="post" action="{% url 'complete_task' my_task.pk %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-primary">Завершить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated and employee %}
            {% if employee.position.title != "Администратор" %}
                <div class="row mt-3">
                    <div class="col-md-12">
                        <h3>Мои завершенные задачи</h3>
                        <div class="table-responsive">
                            <table class="table table-hover" style="margin-bottom: 60px">
                                <thead>
                                <tr>
                                    <th style="width: 10%;">Название</th>
                                    <th style="width: 30%;">Описание</th>
                                    <th style="width: 10%;">Сроки выполнения</th>
                                    <th style="width: 10%;">Исполнитель</th>
                                    <th style="width: 10%;">Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for completed_task in my_completed_tasks %}
                                    <tr>
                                        <td>{{ completed_task.title }}</td>
                                        <td>{{ completed_task.description|truncatewords:10 }}</td>
                                        <td>{{ completed_task.deadline }}</td>
                                        <td>
                                            {% if completed_task.assignee %}
                                                {{ completed_task.assignee.last_name }}
                                                {{ completed_task.assignee.first_name }}
                                            {% else %}
                                                Не назначен
                                            {% endif %}
                                        </td>
                                        <td>{{ completed_task.status.title }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endif %}


        <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="taskModalLabel">Подробная информация о задаче</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="taskTitle"></p>
                        <p id="taskDescription"></p>
                        <p id="taskDeadline"></p>
                        <p id="taskAssignee"></p>
                        <p id="taskStatus"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'add_task' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTaskModalLabel">Назначить задачу</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="taskTitle">Название</label>
                            <input type="text" class="form-control" id="taskTitle" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="taskDescription">Описание</label>
                            <textarea class="form-control" id="taskDescription" name="description" rows="3"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="taskDeadline">Срок сдачи</label>
                            <input type="date" class="form-control" id="taskDeadline" name="deadline" required>
                        </div>
                        <div class="form-group">
                            <label for="taskAssignee">Исполнитель</label>
                            <select class="form-control" id="taskAssignee" name="assignee">
                                <option value="">Не назначен</option>
                                {% for employee in employees %}
                                    {% if employee.position.title != "Администратор" %}
                                        <option value="{{ employee.pk }}">{{ employee.last_name }} {{ employee.first_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Назначить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function showTaskDetails(title, description, deadline, assignee, status) {
            document.getElementById('taskTitle').innerText = 'Название: ' + title;
            document.getElementById('taskDescription').innerText = 'Описание: ' + description;
            document.getElementById('taskDeadline').innerText = 'Сроки выполнения: ' + deadline;
            document.getElementById('taskAssignee').innerText = 'Исполнитель: ' + assignee;
            document.getElementById('taskStatus').innerText = 'Статус: ' + status;
            $('#taskModal').modal('show');
        }
    </script>
{% endblock %}
